---
layout: default
title: Home
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
</head>
<body>
    <h1>Files in Repository</h1>
    <ul>
        {% for page in site.pages %}
            {% if page.title and page.title != "Home" %}
                <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <!-- MathJax Script -->
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
</body>
</html>
